@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    @apply mx-auto h-20 w-20 rounded-full border-[0.625rem] border-transparent border-r-current;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    @apply m-0 h-[1em] w-[1em] rounded-full border-2 border-current border-r-transparent;
    animation: rotate 1s infinite linear;
  }

  .icon {
    @apply h-5 w-5 text-primary-600 transition-colors dark:text-primary-400;
  }

  button:hover .icon,
  a:hover .icon,
  [aria-current='page'] .icon {
    @apply text-primary-400 dark:text-primary-600;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp.rdp {
  --rdp-caption-font-size: @apply text-lg;
  --rdp-cell-size: 2rem;
  margin: 0;

  --rdp-selected-color: theme('colors.primary.200');
  --rdp-accent-color: theme('colors.primary.800');
  --rdp-background-color: theme('colors.primary.600');
}

.dark .rdp.rdp {
  --rdp-selected-color: theme('colors.primary.800');
  --rdp-accent-color: theme('colors.primary.200');
  --rdp-background-color: theme('colors.primary.400');
}
